<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console appender to write logs to stdout (CloudWatch picks it up) -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger configuration -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="io.micronaut" level="DEBUG"/>
    <logger name="org.miccab.installation.flow.api" level="DEBUG"/>

</configuration>
